<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>CeeVee - Free Responsive HTML5/CSS3 Template</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" >

</head>

<body>
    <!-- Header
    ================================================== -->
    <header id="home">
        <nav id="nav-wrap">
            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#styles">Style Guide</a></li>
            </ul> <!-- end #nav -->
        </nav> <!-- end #nav-wrap -->
        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">My Resume.</h1>
                <h3>I'm Panupan Thamakoon.</h3>
                <hr />
            </div>
        </div>
        <p class="scrolldown">
            <a class="smoothscroll" href="#styles"><i class="icon-down-circle"></i></a>
        </p>
    </header> <!-- Header End -->
    <!-- Resume and Skill Section
    ================================================== -->
    <section id="Resume and Skill" style="padding: 90px 0 72px; background: #fff;">
        <div class="row add-bottom">
            <div class="twevle columns">
                <h1>ประวัติการศึกษา</h1>
                <p class="lead add-bottom">
                    จบการศึกษาระดับประถมศึกษาจากโรงเรียนอนุบาลวชิร ปีพุทธศักราช 2550, จบการศึกษาระดับมัธยมศึกษาตอนต้นจากโรงเรียนอนุบาลวชิร ปีพุทธศักราช 2554 , จบการศึกษาระดับมัธยมศึกษาตอนปลายจากโรงเรียนพิจิตรพิทยาคม ปีพุทธศักราช 2557 และเริ่มเข้ารับการศึกษาระดับอุดมศึกษา ปีพุทธศักราช 2558
                </p>
                <hr>
            </div>
        </div> <!-- Row End-->
        <div class="row add-bottom">
            <div class="six columns add-bottom">
                <h3>ข้อมูลติดต่อ</h3>
                <p>
                    <a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="images/sample-image.jpg"></a>
                    บ้านเลขที่ 306 หมู่ที่ 6 ตำบลท่าฬ่อ อำเภอเมืองพิจิตร จังหวัดพิจิตร รหัสไปรษณีย์ 66000
                </p>
            </div>
            <div class="six columns add-bottom">
                <h3>Email</h3>
                <p class="Email">
                    bon.panupan@gmail.com
                </p>
                <h3>Facebook</h3>
                <p>
                    Pan Panupan
                </p>
            </div>
            <hr />
        </div> <!-- Row End-->
        
        <div class="row add-bottom">
            <div class="six columns add-bottom">
                <h3>คติประจำใจ</h3>
                <aside class="pull-quote">
                    <blockquote>
                        <p>
                            " สิ่งที่ตัวเราไม่ชอบ จงอย่าทำกับคนอื่น.."
                        </p>
                    </blockquote>
                </aside>
            </div>
            <div class="six columns add-bottom">
                <h3>Skill</h3>
                <blockquote>
                    <cite>drawing</cite>
                </blockquote>

                <blockquote>
                    <cite>drawing graphic design</cite>
                </blockquote>

                <blockquote>
                    <cite>video editing</cite>
                </blockquote>

            </div>
            <hr />
        </div> <!-- Row End-->
        
        
        <!--<cite>drawing graphic design</cite> -->
